@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */





.codu-anim path {
  /* fill: black; */
  stroke: black;
  stroke-width: 2;

}


.codu-anim path:nth-child(1) {
  stroke-dashoffset: 455px;
  stroke-dasharray: 455px;
  animation: lineanim 2s ease forwards;
  animation-delay: 100ms;
}

.codu-anim path:nth-child(2) {
  stroke-dashoffset: 455px;
  stroke-dasharray: 455px;
  animation: lineanim 1.5s ease forwards;
  animation-delay: 500ms;

}

.codu-anim path:nth-child(3) {
  stroke-dashoffset: 350px;
  stroke-dasharray: 350px;
  animation: lineanim 1.25s ease forwards;
  animation-delay: 750ms;

}

.codu-anim path:nth-child(4) {
  stroke-dashoffset: 455px;
  stroke-dasharray: 455px;
  animation: lineanim 1s ease forwards;
  animation-delay: 1000ms;

}


@keyframes lineanim {
  to {
    stroke-dashoffset: 0;
  }
}